{% extends 'base.html' %}
{% set active_page = "sidebar" %}

{% block content %}

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header" style="text-align: center;">
        <span class="map-title">Обсяг платежів за областями</span>
        <span class="map-subtitle">Всього витрачено у гривнях</span>
      </div>
      <div class="card-wrapper">
        <div id="map"></div>
        <div id="map-info">
          <div class="map-info-header">
            <span id="map-info-title">Вінницька область</span>
          </div>
          <div class="map-info-table" id="card-4">
            <table>
              <tbody>
                <tr class="map-info-row">
                  <td>Бюджет, грн.</td>
                  <td id="map-info-budget" class="map-info-value"></td>
                </tr>
                <tr class="map-info-row">
                  <td>Витрачено, грн.</td>
                  <td id="map-info-spent" class="map-info-value"></td>
                </tr>
                <tr class="map-info-row">
                  <td>Відношення, %</td>
                  <td id="map-info-ratio" class="map-info-value"></td>
                </tr>
                <tr class="map-info-row">
                  <td>Кількість платежів</td>
                  <td id="map-info-trans" class="map-info-value"></td>
                </tr>
                <tr class="map-info-row">
                  <td>Кількість тендерів</td>
                  <td id="map-info-lots" class="map-info-value"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="loader-4" class="loader-wrapper">
            <div class="loader replicate"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card" id="card-1">
      <div class="card-wrapper">
        <div id="timeline"></div>
      </div>
      <div class="card-body" style="text-align: center;">
        <form id="change-timeline">
          <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="dataset" id="by-month" value="0" checked> По місяцях
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="dataset" id="cimilative" value="1"> Кумулятивно
              <span class="form-check-sign"></span>
            </label>
          </div>
        </form>
      </div>
    </div>
    <div id="loader-1" class="loader-wrapper">
      <div class="loader replicate"></div>
    </div>
  </div>
</div>
<!-- Tables -->
<div class="row">
  <!-- Lots -->
  <div class="col-lg-6 col-md-12">
    <div class="card card-tasks" id="card-2">
      <div class="card-wrapper">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title" style="margin:0; font-weight: bold;">Список тендерів</h4>
            <a href="lots/UA-05" target="_blank" id="big-table-lots">
              <button class="btn btn-sm btn-info btn-fab btn-icon btn-round">
                <i class="tim-icons icon-bullet-list-67"></i>
              </button>
            </a>       
          </div>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive" style="max-height: 400px;">
            <table class="table tablesorter ">
              <thead class="text-info">
                <tr>
                  <th>Лот</th>
                  <th>Організатор</th>
                  <th>Очікувана вартість</th>
                  <th>Переможець</th>
                  <th>Переможна пропозиція</th>
                </tr>
              </thead>
              <tbody id="tbody-lots"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="loader-2" class="loader-wrapper">
      <div class="loader replicate"></div>
    </div>
  </div>          
  <!-- Transactions -->
  <div class="col-lg-6 col-md-12">
    <div class="card card-tasks" id="card-3">
      <div class="card-wrapper">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title" style="margin:0; font-weight: bold;">Фактичні платежі</h4>
            <a href="transactions/UA-05/ukravto" target="_blank" id="big-table-trans">
              <button class="btn btn-sm btn-info btn-fab btn-icon btn-round">
                <i class="tim-icons icon-bullet-list-67"></i>
              </button> 
            </a>           
          </div>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive" style="max-height: 400px;">
            <table class="table tablesorter ">
              <thead class="text-info">
                <tr>
                  <th>Платник</th>
                  <th>Вартість</th>
                  <th>Отримувач</th>
                  <th>Дата</th>
                </tr>
              </thead>
              <tbody id="tbody-trans"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="loader-3" class="loader-wrapper">
      <div class="loader replicate"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block map_var %}
<script>
  var dataMap = {{ map_ukr|tojson }}
</script>
{% endblock %}
